<!--调整弹出框-->
<h4 class="form-section">
	<a id="searchResort" href="javascript:;">查询过往记录</a>
</h4>
<div class="form-group clearfix">
    <label class="col-md-4 control-label">调整前</label>
    <div class="col-md-7">
        <div class="input-icon right">
            <input id="test" type="text" class="form-control" name="" placeholder="锁定">
        </div>
    </div>
</div>

<div class="form-group clearfix">
    <label class="col-md-4 control-label">调整后</label>
    <div class="col-md-7">
        <div class="input-icon right">
            <input type="text" class="form-control" name="" placeholder="手工录入">
        </div>
    </div>
</div>

<div class="form-group clearfix">
    <label class="col-md-4 control-label">备注</label>
    <div class="col-md-7">
        <div class="input-icon right">
            <textarea class="form-control" autocomplete="off"
                      name="" placeholder="备注" rows="2"></textarea>
        </div>
    </div>
</div>
