<!--页面菜单列表-->
<div class="page-menu-list">
</div>
<!--页面内容面板-->
<form action="javascript:;" class="form-horizontal">
	<div class="portlet box yellow-casablanca">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>任务记录-详情
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        
        <div class="portlet-body form">
		    <div class="form-body">
		    	<!--验证提示信息-->
		        <div class="alert alert-danger display-hide">
		            <button class="close" data-close="alert"></button>
		            页面中有一些带红色星号 * 的信息是必填项，请检查是否都有正确录入！
		        </div>
		        <h3 class="form-section">记录</h3>
                <div class="row">
                	<div class="col-md-12">
                		<div class="form-group">
		                    <label class="col-md-4 control-label">业务对象</label>
		                    <div class="col-md-4 cols">
		                        <div class="input-icon right">
		                            <select class="form-control" name="fbusinessobj" disabled="disabled">
		                                <option value="">销售合同</option>
		                                <option value="">无</option>
		                            </select>
		                        </div>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-md-4 control-label">来源编号</label>
		                    <div class="col-md-4 cols">
		                        <div class="input-icon right">
		                            <input type="text" class="form-control" name="fsourcenum"  placeholder="XSHT20161212001" disabled="disabled"/>
		                        </div>
		                    </div>
		                </div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</form>