<!--设计师弹出框-->

<div class="form-group clearfix">
    <label class="col-md-4 control-label">设计师</label>
    <div class="col-md-7">
        <div class="input-icon right input-group">
            <i class="fa"></i>
            <input type="lookup" class="form-control" autocomplete="off"
                   name="fstylistid" placeholder="用户基础资料" />
        </div>
    </div>
</div>

<div class="form-group clearfix">
    <label class="col-md-4 control-label">操作人</label>
    <div class="col-md-7">
        <div class="input-icon right">
            <input id="test" type="text" class="form-control" name="" placeholder="">
        </div>
    </div>
</div>


<div class="form-group clearfix">
    <label class="col-md-4 control-label">操作时间</label>
    <div class="col-md-7">
        <div class="input-group date date-picker">
            <input type="text" class="form-control" name="fbirthday" placeholder="生日" />
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
</div>