<!--页面菜单列表-->
<div class="page-menu-list">
</div>
<!--页面内容面板-->
<form action="###" class="form-horizontal">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        页面中有一些带红色星号 * 的信息是必填项，请检查是否都有正确录入！
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-user"></i>基本信息</div>
                    <div class="tools"><a href="###" class="collapse"></a></div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">出库单号</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" autocomplete="off" disabled
                                       name="fbillno" placeholder="该字段由系统自动生成" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">出库日期<span class="required">*</span></label>
                            <div class="col-md-7">
                                <div class="input-group date date-picker">
                                    <input type="text" class="form-control" autocomplete="off"
                                           name="fbizdate" placeholder="出库日期" maxlength="10" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">客户<span class="required">*</span></label>
                            <div class="col-md-7">
                                <div class="input-icon right input-group">
                                    <i class="fa"></i>
                                    <input type="lookup" class="form-control" autocomplete="off" required
                                           name="fcustomerid" placeholder="客户" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">仓库</label>
                            <div class="col-md-7">
                                <div class="input-icon right input-group">
                                    <i class="fa"></i>
                                    <input type="lookup" class="form-control" autocomplete="off"
                                           name="fstorehouseid" placeholder="仓库" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">备注</label>
                            <div class="col-md-7">
                                <textarea class="form-control" autocomplete="off"
                                          name="fdescription" placeholder="备注" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-user"></i>物流安装服务信息</div>
                    <div class="tools"><a href="###" class="collapse"></a></div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">承运商</label>
                            <div class="col-md-7">
                                <div class="radio-list">
                                    <label class="radio-inline">
                                        <input type="radio" name="fiscarrier" value="false" checked="checked" /> 无
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="fiscarrier" value="true" /> 有
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">供应商</label>
                            <div class="col-md-7">
                                <div class="input-icon right input-group">
                                    <i class="fa"></i>
                                    <input type="lookup" class="form-control" autocomplete="off"
                                           name="fsupplierid" placeholder="供应商" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">运单号</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" autocomplete="off"
                                       name="fwaybillno" placeholder="运单号" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-user"></i>客户信息</div>
                    <div class="tools"><a href="###" class="collapse"></a></div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">收货人</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" autocomplete="off"
                                       name="fconsignee" placeholder="收货人" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">省，市，区</label>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <select class="form-control select2me dynamic mb5" name="fprovince">
                                            <option value="">省</option>
                                        </select>
                                        <select class="form-control select2me mb5" name="fcity">
                                            <option value="">市</option>
                                        </select>
                                        <select class="form-control select2me" name="fregion">
                                            <option value="">区</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">收货地址</label>
                            <div class="col-md-7">
                                <textarea class="form-control" autocomplete="off"
                                          name="faddress" placeholder="请填写详细的收货地址" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">联系电话<span class="required">*</span></label>
                            <div class="col-md-7">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" autocomplete="off" required
                                           name="fphone" placeholder="联系电话" maxlength="50" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-user"></i>财务信息</div>
                    <div class="tools"><a href="###" class="collapse"></a></div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">出库金额</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" autocomplete="off" disabled
                                       name="foutamount" placeholder="出库金额" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box yellow-casablanca">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-user"></i>出库商品</div>
                <div class="tools"><a href="###" class="collapse"></a></div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <table entryid="foutentry" data-options="allowAdd:true,allowDel:true,allowEdit:true"></table>
                </div>
            </div>
        </div>
    </div>
</div>