<!--页面菜单列表-->
<div class="page-menu-list">
</div>
<!--页面内容面板-->
<div class="row">
	<div class="col-md-6">
		<form action="javascript:;" class="form-horizontal">
			<div class="portlet box yellow-casablanca">
		        <div class="portlet-title">
		            <div class="caption">
		                <i class="fa fa-user"></i>基本信息
		            </div>
		            <div class="tools">
		                <a href="javascript:;" class="collapse"></a>
		            </div>
		        </div>
		        <div class="portlet-body form">
				    <div class="form-body">
		                <div class="form-group">
                            <label class="col-md-4 control-label">物料<span class="required">*</span></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" autocomplete="off"
                                       name="fmaterial" placeholder="物料名称" required="required"/>
                            </div>
                        </div>
		                <div class="form-group">
                            <label class="col-md-4 control-label">材质<span class="required">*</span></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" autocomplete="off"
                                       name="fquality" placeholder="材质基础资料" required="required"/>
                            </div>
                        </div>
		                <div class="form-group">
                            <label class="col-md-4 control-label">颜色<span class="required">*</span></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" autocomplete="off"
                                       name="fcolor" placeholder="颜色基础资料" required="required"/>
                            </div>
                        </div>
		               	<div class="form-group">
			                <label class="col-md-4 control-label">描述</label>
			                <div class="col-md-7 cols">
			                    <div class="input-icon right">
			                        <textarea cols="40" rows="7" name="description"
			                                  class="form-control" style="overflow:visible"></textarea>
			                    </div>
			                </div>
			            </div>
		            </div>
		    	</div>
		    </div>
		</form>
	</div>
	<div class="col-md-6">
		<form action="javascript:;" class="form-horizontal">
			<div class="portlet box yellow-casablanca">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-user"></i>其他信息</div>
                    <div class="tools"><a href="###" class="collapse"></a></div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
		                    <label class="col-md-4 control-label">创建人</label>
		                    <div class="col-md-7 cols">
		                        <div class="input-icon right">
		                            <input type="text" class="form-control" name="ffounder" readonly="readonly" placeholder="员工基础，自动获取" />
		                        </div>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-md-4 control-label">创建日期</label>
		                    <div class="col-md-7 cols">
		                        <div class="input-icon right">
		                            <input type="text" class="form-control" name="fcreatedate" readonly="readonly" placeholder="日期字段，自动获取" />
		                        </div>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-md-4 control-label">禁用人</label>
		                    <div class="col-md-7 cols">
		                        <div class="input-icon right">
		                            <input type="text" class="form-control" name="fdisable" readonly="readonly" placeholder="员工基础，自动获取" />
		                        </div>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-md-4 control-label">禁用日期</label>
		                    <div class="col-md-7 cols">
		                        <div class="input-icon right">
		                            <input type="text" class="form-control" name="fdisabledate" readonly="readonly" placeholder="日期字段，自动获取" />
		                        </div>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-md-4 control-label">数据状态</label>
		                    <div class="col-md-7 cols">
		                        <div class="input-icon right">
		                            <select class="form-control" name="fstatus" disabled="disabled">
		                                <option value="">创建</option>
		                                <option value="">禁用</option>
		                            </select>
		                        </div>
		                    </div>
		                </div>
                    </div>
                </div>
            </div>
		</form>
	</div>
	<div class="col-md-12">
    	<form action="javascript:;" class="form-horizontal">
	        <div class="portlet box yellow-casablanca">
	            <div class="portlet-title">
	                <div class="caption"><i class="fa fa-user"></i>尺寸区间</div>
	                <div class="tools"><a href="###" class="collapse"></a></div>
	            </div>
	            <div class="portlet-body form">
	                <div class="form-body">
	                    <table entryid="fentity" data-options="allowAdd:true,allowDel:true,allowEdit:true"></table>
	                </div>
	            </div>
	        </div>
       </form>
   </div>
</div>