<div class="form-body">
    
    <table id="show-test" border="1" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
        <tr align="center">
            <td height="30px">执行人</td>
            <td>创建时间</td>
            <td>截止时间</td>
            <td>内容</td>
            <td>状态</td>
        </tr>
        <tr align="center">
            <td height="30px">张师傅</td>
            <td>2016/11/16</td>
            <td>2016/11/19</td>
            <td>上门给林女士量尺</td>
            <td>已派发/已汇报</td>
        </tr>
        <tr align="center">
            <td height="30px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>