.page_alert {
	height: 0.6rem;
}

.alert {
	font-size: 0.1rem;
	height: 0.6rem;
	line-height: 0.6rem;
	color: white;
	text-align: center;
	background-color: red;
	animation: 1s linear fadeIn;
	display: none;
}

.page {
	height: 100%;
	font-family: "微软雅黑";
}

.page_form {
	margin: 0;
}

.page_verification {
	padding-top: 0.1rem;
}

.get_v_code {
	font-family: "微软雅黑";
	display: inline-block;
	height: 44px;
	margin-left: 5px;
	padding: 0 0.6em 0 0.7em;
	border: none;
	border-left: 1px solid #E5E5E5;
	line-height: 44px;
	vertical-align: middle;
	font-size: 17px;
	color: #3CC51F;
	background: transparent;
	outline: 0;
	font-size: 14px;
}

.check_v_code {
	font-size: 15px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}