 
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="javascript:;">
        <div class="form-body">
            <div class="form-group">
                <label class="control-label">菜单名称 </label>
                <input type="text" id="name" class="form-control" placeholder="菜单名称">
            </div>
            <div class="form-group">
                <label class="control-label">菜单图标</label>
                <input type="text" id="icon" class="form-control" placeholder="菜单图标">
            </div>
            <div class="form-group">
                <label class="control-label">菜单链接</label>
                <input type="text" id="url" class="form-control" placeholder="菜单链接">
            </div>
            <div class="form-group">
                <label class="control-label">所属分组</label>
                <input type="text" id="groupid" class="form-control" placeholder="所属分组">
            </div> 
            <div class="form-group">
                <label class="control-label">助记码</label>
                <input type="text" id="helpCode" class="form-control" placeholder="助记码">
            </div>
            <div class="form-group">
                <label class="control-label">菜单顺序</label>
                <input type="text" id="order" class="form-control" placeholder="菜单顺序">
            </div>
            <div class="form-group">
                <label class="control-label">领域类别</label>
                <input type="text" id="domainType" class="form-control" placeholder="领域类别">
            </div>
            <div class="form-group">
                <label class="control-label">表单标识</label>
                <input type="text" id="billFormId" class="form-control" placeholder="表单标识">
            </div>
            <div class="form-group">
                <label class="control-label">表单名称</label>
                <input type="text" id="billCaption" class="form-control" placeholder="表单名称">
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">启用权限控制</label>
                <input type="checkbox" id="enableRAC" checked="checked">
            </div>
        </div>
        <div class="form-actions right">
            <button type="submit" class="btn yellow-casablanca" id="submit">提交</button>
            <button type="button" class="btn default">取消</button>
        </div>
    </form>
    <!-- END FORM-->
</div>
