
<!--页面内容面板-->
<form action="javascript:;" class="form-horizontal">
	<div class="portlet box yellow-casablanca">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>附件新增页面
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body form">
		    <div class="form-body">
		        <div id="wrapper">
			        <div id="upload-container">
			            <div class="uploader-start" class="clearfix">
			                
							<div class="uploader-style">
								
				                <div class="queueList mul-type">
				                    <div class="placeholder">
				                        <div id="filePicker" class="uploader-file" name="fbizlic">点击选择文件</div>
				                        
				                    </div>
				                </div>
				                
				            </div>
							<div class="statusBar clearfix">
			                    
			                    <div class="info"></div>
			                    <div class="btns">
			                        <div id="filePicker2">继续上传</div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
           </div>
            <div class="form-actions right">
			    <button type="submit" class="btn yellow-casablanca" id="save">保存</button>
		    </div>
        </div>
    </div>
</form>