 
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="javascript:;">
        <div class="form-body">
            <div class="form-group">
                <label class="control-label">分组名称</label>
                <input type="text" id="name" class="form-control" placeholder="分组名称">
            </div>
            <div class="form-group">
                <label class="control-label">分组图标</label>
                <input type="text" id="icon" class="form-control" placeholder="分组图标">
            </div>
            <div class="form-group">
                <label class="control-label">所属模块 </label>
                <input type="text" id="moduleid" class="form-control" placeholder="所属模块">
            </div>
            <div class="form-group">
                <label class="control-label">分组顺序</label>
                <input type="text" id="order" class="form-control" placeholder="分组顺序"> 
            </div>
        </div>
        <div class="form-actions right">
            <button type="submit" class="btn yellow-casablanca" id="submit">提交</button>
            <button type="button" class="btn default">取消</button>
        </div>
    </form>
    <!-- END FORM-->
</div> 