<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>易家居 - 锁定屏幕</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/fw/min/css/jquery.yi.min.css">
    <link rel="stylesheet" href="/fw/min/css/jquery.yi.layout.min.css">
    <link rel="stylesheet" href="/fw/css/lock.css" />
</head>
<body>
    <div class="page-lock">
        <div class="page-logo">
            <a class="brand" href="/views/index.html">
                <img src="/fw/include/admin/layout3/images/logo-big.png" alt="logo" />
            </a>
        </div>
        <div class="page-body">
            <img class="page-lock-img" src="/fw/include/admin/layout3/images/tom.jpg" alt="">
            <div class="page-lock-info">
                <h1>宋纪强</h1>
                <span class="email">
                    1711558631@qq.com
                </span>
                <span class="locked">
                    锁定状态
                </span>
                <form class="form-inline" action="/views/index.html">
                    <div class="input-group input-medium">
                        <input type="text" class="form-control" placeholder="密码" id="txtPassword">
                        <span class="input-group-btn">
                            <button type="submit" class="btn blue icn-only"><i class="m-icon-swapright m-icon-white"></i></button>
                        </span>
                    </div>
                    <!-- 输入组 -->
                    <div class="relogin">
                        <a href="/views/account/login.html">
                            不是 Song JiQiang ?
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="page-footer-custom">
            Copyright &copy; 2010 - 2016 东莞市杰诺软件科技有限公司
        </div>
    </div>
    <!-- JavaScript（将 JavaScript 放在页面底部，可以降低页面加载时间）-->
    <!-- 核心插件 -->
    <!--[if lt IE 9]>
    <script src="/fw/include/other/respond.min.js"></script>
    <script src="/fw/include/other/excanvas.min.js"></script>
    <![endif]-->
    <script src="/fw/min/js/jquery.yi.min.js"></script>
    <script src="/fw/include/backstretch/jquery.backstretch.min.js"></script>
    <script src="/fw/js/account/lock.js"></script>
</body>
</html>