<div class="alert alert-danger display-hide">
    <button class="close" data-close="alert"></button>
    <span></span>
</div>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">密码</label>
    <div class="input-icon">
        <i class="fa fa-lock"></i>
        <input class="form-control placeholder-no-fix" type="password" maxlength="16"
               autocomplete="off" placeholder="密码" id="txtPasswordBox" name="password" />
    </div>
</div>
<script src="/fw/js/account/login_dialog.js"></script>
