<!--页面菜单列表-->
<div class="page-menu-list">
</div>
<!--页面内容面板-->
<form action="javascript:;" class="form-horizontal">
	<div class="portlet box yellow-casablanca">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>用户资料编辑页面（管理员角色）
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body form">
		    <div class="form-body">
		    	<!--验证提示信息-->
		        <div class="alert alert-danger display-hide">
		            <button class="close" data-close="alert"></button>
		            页面中有一些带红色星号 * 的信息是必填项，请检查是否都有正确录入！
		        </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">用户账号</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="email" class="form-control" placeholder="2637734643@qq.com" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">用户名称<span class="required">*</span></label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="text" name="fname" class="form-control" 
                            	placeholder="用户名" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">密码<span class="required">*</span></label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="password" name="fpassword" class="form-control" 
                            	placeholder="密码" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">确认密码<span class="required">*</span></label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="password" name="frepassword" class="form-control" 
                            	placeholder="确认密码" required="required">
                        </div>
                    </div>
                    <span class="col-md-4 repassword"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">办公电话</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="text" name="ftelphone" class="form-control" placeholder="办公电话">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">分机号</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="text" name="ftelbranch" class="form-control" placeholder="分机号">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">手机</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="text" name="fphone" class="form-control" placeholder="手机">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">短号</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="text" name="fshortphone" class="form-control" placeholder="短号">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">收信服务器（pop3）</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="text" name="fpopserver" class="form-control" placeholder="收信服务器（pop3）">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">发信服务器（smtp）</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="text" name="fsmtpserver" class="form-control" placeholder="发信服务器（smtp）">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">通信地址</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <input type="text" class="form-control" placeholder="通信地址">
                        </div>
                    </div>
                </div>
                <div class="form-group last">
                    <label class="col-md-4 control-label">注册来源</label>
                    <div class="col-md-4 form-control-static">
                            QQ邮箱
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>