<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>手机号绑定</title>
		<link rel="stylesheet" href="../../../fw/css/ydj/weixin/weui.min.css" />
		<link rel="stylesheet" href="../../../fw/css/ydj/weixin/binding.css"/>
	</head>

	<body>
		<div class="page">
			<div class="page_alert">
				<div class="alert">请输入正确的手机号</div>
			</div>
			<div class="weui-cells weui-cells_form page_form">
				<div class="weui-cell weui-cell_vcode">
					<div class="weui-cell__hd">
						<label class="weui-label">手机号</label>
					</div>
					<div class="weui-cell__bd">
						<input class="weui-input check_v_code" type="number" id="phone" pattern="[0-9]*" placeholder="请输入手机号">
					</div>
					<div class="weui-cell__ft">
						<input type="button" class="weui-vcode-btn get_v_code" value="获取验证码">
					</div>
				</div>
			</div>

			<div class="weui-cells weui-cells_form ">
				<div class="weui-cell weui-cell_vcode">
					<div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input check_v_code" type="number" id="qr-code" placeholder="请输入验证码" />
					</div>
					<div class="weui-cell__ft">
						<a href="javascript:;" id="conf" class="weui-vcode-btn check_v_code">&nbsp;&nbsp;&nbsp;确&nbsp;&nbsp;认&nbsp;&nbsp;&nbsp;&nbsp;</a>
					</div>
				</div>
			</div>
		</div>
		<script src="../../../fw/js/ydj/weixin/rem.js"></script>
		<script src="../../../fw/js/ydj/weixin/binding.js"></script>
	</body>
</html>