<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>意见反馈</title>
		<link rel="stylesheet" href="../../../fw/css/ydj/weixin/weui.min.css" />
		<link rel="stylesheet" href="../../../fw/css/ydj/weixin/feedback.css"/>
	</head>

	<body>
		<div class="page">

			<div class="weui-cells__title feed_issue">问题和意见</div>
			<div class="weui-cells weui-cells_form">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<textarea class="weui-textarea feed_textarea proposal"  placeholder="请简要说明你的问题和意见" rows="3"></textarea>
						<!--<div class="weui-textarea-counter"><span>0</span>/200</div>-->
					</div>
				</div>
			</div>
			<!--提交按钮-->
			<a href="javascript:;" class="weui-btn weui-btn_warn weui-btn_disabled feed_submit">提&nbsp;&nbsp;交 </a>

		</div>

		<script src="../../../fw/js/ydj/weixin/rem.js"></script>
		<script src="../../../fw/js/ydj/weixin/class.js"></script>
		<script src="../../../fw/js//ydj/weixin/feedback.js"></script>
	</body>

</html>